@CHARSET "ISO-8859-1";

div .prod{
	
		height:250px;
		width:150px;
		background:#749488;
		/* border: 3px solid black; */
	}
	
		
ul {
	list-style-type: none;
	}
	
ul li {
	
    float: left;
	padding: 10px;

	}	
	
		
	img .img-responsive {
	
		height:150px;
		width:150px;
		/* background:beige; */
		border: 3px solid black;
	}
	
	#banner, #allProducts {
		position: relative;
	}
	
