@CHARSET "ISO-8859-1";

/* Navigation Bar */
.header {
	background-color: #fff;
	z-index: 1;
	font-family: Raleway;
	font-size: 36px;
	height: 65px;
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
}

.logoiconO {
	width: 30px;
	height: 27px;
	margin-bottom: 9px;
}

.logoiconA {
	width: 30px;
	height: 28px;
	margin-bottom: 12px;
}

#navbar {
	width: 100%;
	overflow: hidden;
	background-color: #000;
	z-index: 1;
	height: 52px;
}

#navbar a {
	float: left;
	/* 	display: block; */
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	background-color: #8c8c8c;
	color: white;
}

#navbar a.active {
	background-color: #404040;
	color: white;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#tagline {
	float: right;
	margin-right: 10px;
}

#logo {
	float: left;
	margin-left: 10px;
}

#login {
	background: url(avatar.svg);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: center;
	border: none;
	width: 52px;
	height: 52px;
	cursor: pointer;
}

#cart {
	background: url(shopping-cart.svg);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	border: none;
	width: 30px;
	height: 30px;
	/* margin: 13px 20px 0 0; */
	cursor: pointer;
}

#login:hover {
	background-color: #8c8c8c;
	color: white;
}
/*--------------dropdown------------- */
.dropdown {
	position: relative;
	overflow: hidden;
}

.dropdown-content {
	display: none;
	position: fixed;
	margin-left: -40px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	background-color: #404040;
}

.dropdown-content a {
	color: black;
	/* margin-left: -10px; */
	/* margin-right: 40px; */
	/* padding: 12px 66px; */
	text-decoration: none;
	display: block;
	min-width: 160px;
}

.dropdown-content a:hover {
	/* background-color: #8c8c8c; */
	background-color: #404040;
	color: white;
	/* width:160px; */
	/*  margin-right: 0px;  */
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropbtn {
	float: left;
	border: none;
	color: white;
	font-weight: normal;
	padding: 15px 16px;
	font-size: 16px;
	font-family: Raleway;
	/* overflow: hidden; */
	background-color: #000;
}

.dropbtn a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.dropbtn a:hover {
	background-color: #8c8c8c;
	color: white;
}

.dropdown:hover .dropbtn {
	background-color: #8c8c8c;
}

.footer1{
	position: relative;
	font-family:'Raleway';
	left : 0;
	/* margin-top: 70px; */

	width: 100%;
	height: 300px;
	background-color: #25282e;
	color: white;
	/* text-align: center; */
	bottom: 0;
}
/*--------------------Device Look------------------- */
.smartphone {
	position: relative;
	width: 390px;
	height: 650px;
	margin: auto;
	top: 40px;
	border: 16px black solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
	box-shadow: 5px 10px 18px #888888;
	margin-bottom: 50px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 50%;
	bottom: -65px;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
	width: 357px;
	height: 530px;
	/* margin-bottom:40px; */
	background: white;
	padding: 10px;
}

.background {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url('pattern.svg');
	width: 100%;
	height: 100%;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
/* --------------------Container------------------- */
.border {
	background-color: white;
	border: 5px solid #aa8f6d;
}

.container {
	font-family: 'Raleway';
	width: auto;
	height: 400px;
	background-color: #FFF;
}

.btnL, .btnN {
	width: 100%;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px;
	color: white;
	background-color: #000;
}

.btnN {
	margin-top: 20px;
}

.btnJ, .btnF {
	margin: auto;
	font-weight: bold;
	border: none;
	background-color: #FFF;
}

.btnJ:hover, .btnF:hover {
	border-bottom: 1px solid #000;
	background-color: #FFF;
}

h2 {
	text-align: center;
}

hr.custom {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

input.form-control {
	margin: auto;
	border: #d9d9d9 1px solid;
	border-radius: 0px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

input.form-control:focus {
	border: #000 1px solid;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.star {
	color: red;
}

/*----------------Back Button------------*/
.back {
	background: url(left-arrow.svg);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	border: none;
	width: 30px;
	height: 30px;
	margin-top: 22px;
	cursor: pointer;
	position: absolute;
}
/*---------------Filter-------------*/
.container-fluid {
	
}

.filter {
	float: left;
	padding-right:10px;
	border-right:1px solid black;
	border-bottom: 1px solid black;
	font-family: 'Raleway';
	font-size: 16px;
	max-width: 200px;
	height: 400px;
	font-family: 'Raleway';
}

input.finput {
	margin-top: 10px;
}
/*------------Vertical  Line------------ */
.vl {
	position: absolute;
	top: 0;
	right: -20px;
	border-left: 2px solid #000;
	height: 1000px;
	width: 0px;
	background-color: #669999;
	border-left: 2px solid #000;
}

.catalog {
	margin-left: 170px;
	position: relative;
}

.col-lg-4 {
	height: 350px;
	width: 200px;
	margin: 70px;
	background-color: #FFF;
}

/*----------------checkbox------------------*/
/* The container */
.checkbox {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 30px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
	background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	margin-left: 5px;
	margin-top: 1px;
	display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#blcart {
	background: url(shopping-cart-black.svg);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	border: none;
	position: absolute;
	bottom: 10px;
	right: -10px;
	width: 30px;
	height: 30px;
	margin: 13px 20px 0 0;
	z-index: 1;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	z-index: 1;
}

.col-lg-4.nameprice {
	color:black;
	text-align: center;
	background-color: #FFF;
	font-family: 'Raleway';
	font-weight: bold;
	position: absolute;
	bottom: -5px;
	left: 10px;
	margin-left: -10px;
	width: 200px;
	height: 50px;
	/* opacity: 0.4; */
	margin-top: 10px;
	/* margin: 13px 20px 0 0; */
	/* cursor: pointer; */
}

.phimg {
	margin-left: 5px;
}

/*--------------slideshow------------ */
* {
	box-sizing: border-box
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1500px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@
-webkit-keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@
keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}
/* product Description*/

body {
	font-family: 'Raleway';
}

table {
	border-collapse: separate;
	border-spacing: 10px 10px;
	font-family: 'Raleway';
}

h1 {
	font-family: 'Raleway';
}

.container-fluid .col-lg-2 .row {
	margin-bottom: 10px;
	width: 130px;
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

/* Style the images inside the grid */
.container-fluid .col-lg-2 .row #phsmall {
	opacity: 0.8;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
}

#phsmall {
	opacity: 0.8;
	cursor: pointer;
}

.container-fluid .col-lg-2 .row #phsmall:hover {
	opacity: 1;
}

/* Clear floats after the columns */
.container-fluid .row:after {
	content: "";
	display: table;
	clear: both;
}

/* The expanding image container */
.container-fluid .col-lg-4 {
	position: relative;
	display: block;
	width: 300px;
	margin: auto;
	margin-top: 30px;
}

/* Closable button inside the expanded image */
.container-fluid .col-lg-4 .closebtn {
	position: absolute;
	top: 10px;
	right: -50px;
	color: black;
	font-size: 35px;
	cursor: pointer;
}

.col-lg-6 {
	float: right;
}
